Temp/
Library/
obj/
Logs/
*.svd
*.apk
.DS_Store

*.pidb*
*.userprefs*
*.pdb*
*.mdb*

teak-unity.sublime-workspace
ProjectSettings/ProjectVersion.txt

Assets/Resources/TeakSettings.*
Assets/Teak/TeakVersion.cs*

Assets/Teak/Plugins/iOS/teak_version.m
Assets/Teak/Plugins/Android/Version.java

# Teak binaries
Assets/Teak/Plugins/Android/teak.aar
Assets/Teak/Plugins/iOS/libTeak.a

# Teak resources
Assets/Teak/Plugins/iOS/TeakResources.bundle

Teak.unitypackage
unity.log
temp-upm-build

# Doc generation
_doxygen
yarn-error.log
node_modules
