[submodule "docs/android"]
	path = docs/android
	url = https://github.com/GoCarrot/teak-android-docs.git
	branch = master
[submodule "docs/ios"]
	path = docs/ios
	url = https://github.com/GoCarrot/teak-ios-docs.git
	branch = master
