Temp/
Library/
obj/
Logs/
*.svd
*.apk
.DS_Store

*.pidb*
*.userprefs*
*.pdb*
*.mdb*

ProjectSettings/ProjectVersion.txt

Assets/Resources/TeakSettings.*
Assets/Teak/TeakVersion.cs*

Assets/Plugins/Android/bolts.jar*
Assets/Plugins/Android/AndroidManifest.xml*
Assets/Plugins/Android/google-play-services.jar*

Assets/Teak/Plugins/iOS/teak_version.m*
Assets/Teak/Plugins/Android/teak-version-information.androidlib/res*

# Teak binaries
Assets/Teak/Plugins/Android/teak.aar*
Assets/Teak/Plugins/iOS/libTeak.a*

# Teak resources
Assets/Teak/Plugins/iOS/TeakResources.bundle
Assets/Teak/Plugins/Android/res*

Teak.unitypackage
unity.log
temp-upm-build

AndroidBuild/
iOSBuild/
WebBuild/
StandaloneBuild*/
FlashBuild/
Assets/AssetStoreTools*
_build
_static
_templates
_doxygen
