[submodule "docs/android"]
	path = docs/android
	url = https://github.com/GoCarrot/teak-android-docs.git
[submodule "docs/ios"]
	path = docs/ios
	url = https://github.com/GoCarrot/teak-ios-docs.git
[submodule "upm-package-teak"]
	path = upm-package-teak
	url = git@github.com:GoCarrot/upm-package-teak.git
