Temp/
Library/
obj/
Logs/
*.svd
*.apk
.DS_Store

*.pidb*
*.userprefs*
*.pdb*
*.mdb*

ProjectSettings/ProjectVersion.txt

Assets/Resources/TeakSettings.*
Assets/Teak/TeakVersion.cs*

Assets/Plugins/Android/bolts.jar*
Assets/Plugins/Android/android-support-v4.jar*
Assets/Plugins/Android/AndroidManifest.xml*
Assets/Plugins/Android/google-play-services.jar*

Assets/Teak/Plugins/iOS/teak_version.m

# Teak binaries
Assets/Teak/Plugins/Android/teak.aar
Assets/Teak/Plugins/iOS/libTeak.a
AndroidLibBuild/androidtemp

# Teak resources
Assets/Teak/Plugins/iOS/TeakResources.bundle

Teak.unitypackage
unity.log

AndroidBuild/
iOSBuild/
WebBuild/
StandaloneBuild*/
FlashBuild/
Assets/AssetStoreTools*
